/*CSS for Entire app
 * 
 * For EasyEncryption 
 * Author: Daniel Botello IV
 * 
 * 
 */
/* CSS for Login.fxml */
#bPane{
	-fx-background-image: url("../../data/bg1.png");
}

#ap{
	-fx-background-color: #65655e;
	    -fx-background-insets: 0,1,4,5,6;
    	-fx-background-radius: 9,8,5,4,3;
}

/* CSS for UserInteraction.fxml */
#outerAp{
	
	-fx-background-image: url("../../data/bg2.png");
}

/* CSS for EncryptView1 */
#apParent{
	/*-fx-background-color: #0198fc; */
	-fx-background-image: url("../../data/bg3.png");
}

#apChild2{
	-fx-background-color: #65655e;
}

#apChild1{
	-fx-background-color: #65655e;
}

#regFileContent{
	-fx-background-color: #ffffff;
}

#encryptFileContent{
	-fx-background-color: #ffffff;
}


/*General Global CSS */
#innerAp{
	
	/* -fx-background-color: #65655e; For dark mode*/
	-fx-background-color: #ffffff;
}

.hbox{
		-fx-background-color: #65655e;
	    -fx-background-insets: 0,1,4,5,6;
    	-fx-background-radius: 9,8,5,4,3;
}

/* TODO: Figure out good design for buttons */
.button {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}